.backgroud{
	z-index: 1;
}
.header{
	z-index: 2;
}
.table{
	color:aliceblue;
}
.center{
	margin: 10px auto 20px;
	display: block;
}

body{
	background: rgb(7, 0, 79);
}
.center-text{
	color:rgb(40, 40, 226);
	font-size: 30px;
	font-weight:bold;
	padding-top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid rgba(49, 36, 193, 0.762);
	border-radius: 50px;
	width: 300px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;

	
	
	
}





